{% extends 'base.html' %}

{% block title %} About{% endblock title %}

{% block content %}

<h1>About US</h1>
<hr>
<p>ICICI Bank is a leading private sector bank in India. The Bank’s consolidated total assets stood at Rs. 13.77 trillion at March 31, 2020. ICICI Bank currently has a network of 5,324 branches and 15,688 ATMs across India.</p>

<p>ICICI Bank was originally promoted in 1994 by ICICI Limited, an Indian financial institution, and was its wholly-owned subsidiary. ICICI's shareholding in ICICI Bank was reduced to 46% through a public offering of shares in India in fiscal 1998, an equity offering in the form of ADRs listed on the NYSE in fiscal 2000, ICICI Bank's acquisition of Bank of Madura Limited in an all-stock amalgamation in fiscal 2001, and secondary market sales by ICICI to institutional investors in fiscal 2001 and fiscal 2002. ICICI was formed in 1955 at the initiative of the World Bank, the Government of India and representatives of Indian industry. The principal objective was to create a development financial institution for providing medium-term and long-term project financing to Indian businesses.
</p>


<p>In the 1990s, ICICI transformed its business from a development financial institution offering only project finance to a diversified financial services group offering a wide variety of products and services, both directly and through a number of subsidiaries and affiliates like ICICI Bank. In 1999, ICICI become the first Indian company and the first bank or financial institution from non-Japan Asia to be listed on the NYSE.</p>

{% endblock content %}