<hr>
<footer class="footer navbar-fixed">
    <!--Footer Links-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                

                <a href="{% url 'transactions:home' %}">Home </a>|
                <a href="{% url 'transactions:about' %}">About Us</a> |&nbsp;


            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->
    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid text-center">
            © 2020 <a href="http://localhost:8000"> Private-Banking</a>
        </div>
    </div>
    <!--/.Copyright-->
</footer>
<br>