{% extends 'base.html' %}

{% block title %} Welcome!{% endblock title %}

{% block content %}
<div class="container" style="padding-top: 50px;">
<div class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Private Bank</h1>
        <hr>
        <p class="lead text-muted">Welcome to Internet Banking</p>
        <p>
          <a class="btn btn-primary btn-md" href="{% url 'accounts:login' %}" role="button">Login</a>
          <a class="btn btn-success btn-md" href="{% url 'accounts:register' %}" role="button">Sign Up</a>
        </p>
      </div>
</div>
</div>

{% endblock content %}
