{% extends 'base.html' %}

{% block title %} BalanceSheet {% endblock title %}

{% block content %}

<div class="page-header">
  <h2 class="text-center"><b>Transaction Details</b></h2>
</div>


<h3>Deposit Details</h3>

<div class="row">
  <div class="col">
    <div class="card card-body">
      <form method="get">
          {{ depositTransactionFilter.form}}
        <button class='btn btn-primary' type='Submit'>Search</button>
        <a href="{%url 'export_excel' %}" class='btn btn-secondary'>Export to Excel</a>
      </form>

    </div>
  </div>
</div>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Account</th>
      <th>Date / Time</th>
      <th>Details</th>
      <th>Amount (Rs.)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    {% for obj in deposit %}
      <th scope="row">{{forloop.counter}}</th>
      <td>{{obj.customer.account_no}}</td>
      <td>{{ obj.timestamp }}</td>
      <td>Deposit</td>
      <td>{{ obj.amount }}</td>
    </tr>
    {% endfor %}
    
   
  </tbody>
</table>
<hr>


<h3>Withdrawal Details</h3>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Date / Time</th>
      <th>Details</th>
      <th>Amount (Rs.)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    {% for obj in withdrawal %}
      <th scope="row">{{forloop.counter}}</th>
      <td>{{ obj.timestamp }}</td>
      <td>Withdrawal</td>
      <td>{{ obj.amount }}</td>
    </tr>
    {% endfor %}
    
   
  </tbody>
</table>
<hr>

{% endblock content %}